body {
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html {
  box-sizing: border-box;
}
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}
input {
  outline: none;
}
body > div#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
a {
  color: #0074f2;
}
span.alliance-span-link {
  cursor: pointer;
  color: #0074f2;
}
span.alliance-span-link:hover {
  color: #e6007a;
}
.allicance-cutsom-scroll::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}

.allicance-cutsom-scroll {
  scrollbar-width: none; /* firefox */
  -ms-overflow-style: none; /* IE 10+ */
  overflow-x: hidden;
  overflow-y: auto;
}
